<?xml version="1.0" ?>
<model>
  <name>sojourner</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jonathan</name>
    <email>adoojonathan412@gmail.com</email>
  </author>

  <description>
    A mobile robot with Ackermann steering, equipped with RPLIDAR A1M8 and Intel RealSense Depth Camera D435i.
  </description>
</model>
